{% extends "layout.html" %}

{% block content %}

<main class="intro-page">
    <div class="container">
        <div class="row justify-content-end">
            <h1>What is the prognosis of this price?</h1>
        </div>
        <div class="row justify-content-end">
            <div class="col-6">
                <p><em>Healthcare is a scorchingly hot-button issue in the United States. Healthcare's price tag in the United States is notoriously high, so this project attempts to predict the bill a patient may face. Sourcing from the Center for Medicare and Medicaid Services (CMS), we will explore how one's location might impact one's cost for a list of procedures.</em></p>
            </div>
        </div>
    </div>
</main>

{% endblock %}